<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Reessolutions_WorkerModeHyva">
        <sequence>
            <module name="Reessolutions_WorkerMode"/>
            <module name="Hyva_Theme"/>
        </sequence>
    </module>
</config>
